button {
    color: aqua;
}

h1{
    font-size: 3svh;
}
p {
    font-size: clamp(2.5SVH,2.5svh,3rem);
    width: auto;
}
  
html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    max-width: 100vw;
    margin: auto;
    background-color: azure;
}

nav{
    background-color: azure;
    margin-left: 10svw;
    margin-right: 10svw;
    text-align: center;
    font-size: 1.3vw;
}

img {
    width: 100%;
    aspect-ratio: 16/9;
    border: 0.5rem solid #0085ff;
    border-radius: 10%;
}

li{
    margin-bottom: 3svh;
}
#project-header {
    font-size: clamp(2svh,2svw,3rem);
}
#home-body{
    /* background-image: url("media/spain (3).jpg");
    background-repeat: repeat-y;
    background-size: 100svw; */
}
  
#bar {
    background-color: aqua;
}

#otter {
    height: 60%;
    aspect-ratio: 1/1;
    width: 38%;
    border-radius: 100%;
}

#comment {
    border: 5px solid #03e3fc;
}

#maintenence{
  width: 100vw;
  max-width: 98%;
  max-height: 90%;
  object-fit:contain;
}

#new-icon {
    margin-bottom: -26px;
    position: RELATIVE;
    margin-right: 220px;
    margin-top: -7px;
    color: gold;
}

#projects-body {
    background-color: azure;
   }

   #home-intro {
    height: auto;
    padding: 3vw;
    border-bottom: 1svh solid cadetblue;

}

.update-home-pics {
    width: 40svh;
}

.update-home-text {
    float: left;
    margin: 10px;
    /* width: 40svh; */
}

.update-home {
    display: inline-block;
    /* border: 10px solid cadetblue; */
    border-top: 0;
    max-width: 70svh;
    margin-top: 1svh;
}

.demo-wrap {
    overflow: hidden;
    position: relative;
  }

  .demo-bg {
    border: 0px;
    border-radius: 0%;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .project-text {
    max-width: 65svh;
    margin: 1svh;
    /* font-size: clamp(1.8rem,2svw,10svw); */
}

.updates {
    font-size: clamp(2.5SVH,2.5svh,3rem);
    margin-left: 10svw;
    margin-right: 10svw;
    /* background-color: aquamarine; */
}

.projects-titles {
    text-decoration: underline;
}

.project {
    margin-top: 0;
    display: flex;
    background-color: azure;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10svw;
    margin-right: 10svw;
}

.project-pics {
    width: clamp(40.5svh, 40%, 100%);
    margin: 1svw;
}

.project-mini-body {
    overflow: auto;
}

.project-mini-pics {
    max-width: 200px;
    padding: 5px;
    float: left;    
}

.header {
    margin-bottom: 2svw;
    text-align: center;
    font-size: 3vw;
    text-decoration: underline;
  }

#home-wrap {
    overflow: hidden;
    position: relative;
    width: 100%
}

.home-bg {
    opacity: 0.6;
    position: absolute;
    margin: -50svh
}

.cascade {
    width: inherit;
    height: inherit
}

.home-projects {    
    display: inline-block;
}


.home-projects-pics {
    aspect-ratio: 5 / 3;
    width: 44svw;
    border-radius: 8vw;
    border: 1vw solid #03e3fc;
    margin: 1.49vw;
}

.home-content {
    position: relative;
}

.home-subtitle {
  width: 58%;
    float: right;
    text-align: center;
    font-size: 6vw;
}

.home-body-right {
    position: relative;
    float: right;
    text-align: center;
    max-width: 80svh;
    max-height: 765px;
    overflow: hidden;
}


#home-content-body {
    position: relative;
    max-width: 100svw;
    max-height: 760px;
}

.project-intro {
    float: left;
}



  @media (max-width: 768px) {
    .project{
        margin: 0;
    }
  }